@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.app {
  margin: 0px 450px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
